---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/28580/historical/24?apikey=tBI526Xxymq7tSiAyqd5GLNa7X2eJfUh&details=false&language=en-us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '38'
      Akamai-Grn:
      - 0.48ab3717.1675021219.87c009f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-01-29T21:57:00+03:00","EpochTime":1675018620,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":30.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us","Link":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us"},{"LocalObservationDateTime":"2023-01-29T20:58:00+03:00","EpochTime":1675015080,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":-2.1,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/minsk/28580/current-weather/28580?lang=en-us","Link":"http://www.accuw[...]
